/* comentario en sass y css */
/*reset*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff !important; }

/* ESTILO DE H1 PARA TODOS LOS HTML*/
h1 {
  text-align: center;
  font-size: 50px;
  margin: 2%;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: unset; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

main h2 {
  text-align: center;
  font-weight: bold;
  margin: 1%; }

main .texto-home {
  text-align: center;
  margin: 3%;
  padding: 1%; }

/* ESTILO FOOTER */
footer .tabla-centradados {
  width: 12vh;
  margin: auto;
  text-align: center; }

footer .instagram {
  padding-left: 0.8em;
  padding-right: 0.8em; }

footer .texto-footer {
  text-align: right; }

/* ESTILO HTML SERVICIOS */
main .contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  main .contenedor .servicio {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    background-color: whitesmoke;
    width: 285px;
    height: 285px;
    margin: 50px;
    padding: 10px;
    display: inline-block; }
    main .contenedor .servicio .imagenservicios {
      width: 63%;
      height: 63%; }
    main .contenedor .servicio .detalle-servicio {
      font-size: 17px;
      font-weight: lighter; }

main .TextoQuienesSomos {
  text-align: center;
  margin: 60px; }

main div .tabla-centrada {
  margin: auto;
  text-align: center; }
  main div .tabla-centrada .quienessomos td {
    border: none;
    width: 350px;
    height: 100px;
    font-size: 20px;
    font-weight: bold; }
    main div .tabla-centrada .quienessomos td .letramayor {
      font-size: 200%; }

/* ESTILO IMAGEN CONTACTATE */
.div-contactate {
  text-align: center;
  width: 100%;
  height: auto; }
  .div-contactate .imagen-contactate {
    width: 40%;
    border-radius: 20px; }
