/* comentario en sass y css */
/*reset*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ffffff !important; }

/* ESTILO DE H1 PARA TODOS LOS HTML*/
h1 {
  text-align: center;
  font-size: 50px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: unset;
  color: #002198;
  margin: 40px 0 40px 0 !important; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

main h2 {
  text-align: center;
  font-weight: bold;
  margin: 1%;
  color: #5876bf; }

main .texto-home {
  text-align: center;
  margin: 3%;
  padding: 1%; }

/* ESTILO ANCORD */
a {
  color: #002198 !important; }

a:hover {
  color: #5876bf !important; }

/* ESTILO FOOTER */
footer .tabla-centradados {
  width: 12vh;
  margin: auto;
  text-align: center; }

footer .instagram {
  padding-left: 0.8em;
  padding-right: 0.8em; }

footer .texto-footer {
  text-align: right; }

/* ESTILO HTML SERVICIOS */
main .contenedor {
  margin-top: -40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  main .contenedor .servicio {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    background-color: whitesmoke;
    color: #1848aa;
    width: 285px;
    height: 285px;
    margin: 50px;
    padding: 10px;
    display: inline-block; }
    main .contenedor .servicio .coberturas {
      margin-top: 5px; }
    main .contenedor .servicio .imagenservicios {
      width: 63%;
      height: 63%;
      margin-top: -5px; }
    main .contenedor .servicio .detalle-servicio {
      font-size: 17px;
      font-weight: lighter; }

main .TextoQuienesSomos {
  text-align: center;
  margin: 60px;
  margin-left: 5em;
  margin-right: 5em; }

/* ESTILO IMAGEN CONTACTATE */
.div-contactate {
  text-align: center;
  width: 100%;
  height: auto; }
  .div-contactate .imagen-contactate {
    width: 40%;
    border-radius: 20px; }

/* ESTILO TABLA GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 37vh);
  grid-template-rows: 75px;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2em; }
  .grid .letramayor {
    font-size: 200%; }

@media screen and (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(3, 15vh);
    font-size: 12.5px; } }

@media screen and (min-width: 640px) and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 20vh);
    font-size: 16px; } }
