// color de fondo de html 

$color-fondo-principal: #ffffff;
$color-fondo-alternativo: #a9dfff;

// color de fondo de servicios

$color-principal-servicios: whitesmoke;
$color-alternativo-servicios: #e4fbfb;

// color de fondo de servicios
$color-principal-texto: #002198;
$color-secundario-texto: #5876bf;
$color-terciario-texto: #1848aa; 