// color de fondo de html 

$color-fondo-principal: #ffffff;
$color-fondo-alternativo: #ecffff;

// color de fondo de servicios

$color-principal-servicios: whitesmoke;
$color-alternativo-servicios: #e4fbfb;